
<div *ngIf="products" class="d-flex flex-lg-wrap">
  <div *ngFor="let product of products._embedded.products" >
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{product.name}}</div>
        <div class="panel-body">
          <table>
            <tr>
              <td>
                <img src="{{this.catalogueService.host+'productimage/'+product.id}}"  style="height:100%">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
